@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="range"]::-webkit-slider-thumb {
    width: 15px;
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    cursor: ew-resize;
    background: white;
    border: 3px solid #fd6f00;
    /* width: 12px;
            height: 12px; */
    box-shadow: -405px 0 0 400px #fd6f00;
    border-radius: 50%;
  }
 input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    cursor: ew-resize;
    background: white;
    border: 3px solid #fd6f00;
    border-radius: 50%;
    box-shadow: -405px 0 0 400px #fd6f00; /* Note: box-shadow might not work in Firefox as expected */
}

}
